<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>group-overview</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Group Overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcsumb.edu%2Fmedia%2Fcsumb%2Fsection-editors%2Flibrary%2Flibrary-diversity-equity-amp-inclusion%2FCLSS-Banner-3549x2304.png&f=1&nofb=1&ipt=67e600107bb63c320624b40ca0b12922439026d4bd83221dd8e2974c9b498d50&ipo=images"
  alt="El Centro Logo"
></ion-img>
    <ion-card-header>
      <ion-card-title>El Centro - Service Organization</ion-card-title>
    </ion-card-header>

    <ion-toolbar>
      <button routerLink="/group-overview" class="appheader">Overview</button>
      <button routerLink="/group-events" class="appheader" id="currentButton">Events</button>
    </ion-toolbar>
  </ion-card>


<!-- Group Event Info -->
<ion-content [fullscreen]="true" class="ion-padding group-info">
Group Events Here
</ion-content>
<!-- End of Group Event Info -->


</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Navigation Bar -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="['/home']" tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/resources-page']" tab="journal">
      <ion-icon name="journal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/group-overview']" tab="people">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/chats-page']" tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
<!-- End of Navigation Bar -->
  </ion-toolbar>
</ion-footer>