<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>resources-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">resources-page</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content [fullscreen]="true">

  <!-- Start of Student Avatar FAB -->

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="light">
      <ion-icon name="person-circle-outline"></ion-icon>
        </ion-fab-button>
    <!-- <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>

  <!-- End of Student Avatar FAB -->

  <ion-img src="..\assets\myRaft_Top_Logo.png" alt="MyRaft Top Logo"></ion-img>

  <div id="page-title">
    <h1>My Resources</h1>
  </div>

  <!-- Resources Info -->
  <ion-grid>
    <ion-row>

      <!-- Button 1: Academic Support -->
      <ion-col size="6" style="padding: 10px;">
        <ion-button expand="full" height=100px color="light">
          <div id="resource-button">
            <ion-icon name="school-outline"></ion-icon><br>
            <ion-label>Academic Support</ion-label>
          </div>
        </ion-button>
      </ion-col>

      <!-- Button 2: Health and Wellness -->
      <ion-col size="6" style="padding: 10px;">
        <ion-button expand="full" height=100px color="light">
          <div id="resource-button">
            <ion-icon name="extension-puzzle-outline"></ion-icon><br>
            <ion-label>Health and Wellness </ion-label>
          </div>
        </ion-button>
      </ion-col>

      <!-- Button 3: Safety -->
      <ion-col size="6" style="padding: 10px;">
        <ion-button expand="full" height=100px color="light">
          <div id="resource-button">
            <ion-icon name="lock-closed-outline"></ion-icon><br>
            <ion-label>Safety</ion-label>
          </div>
        </ion-button>
      </ion-col>

      <!-- Button 4: Dining Services -->
      <ion-col size="6" style="padding: 10px;">
        <ion-button expand="full" height=100px color="light">
          <div id="resource-button">
            <ion-icon name="pizza-outline"></ion-icon><br>
            <ion-label>Dining Services</ion-label>
          </div>
        </ion-button>
      </ion-col>

      <!-- Button 5: Disability Resources -->
      <ion-col size="6" style="padding: 10px;">
        <ion-button expand="full" height=100px color="light">
          <div id="resource-button">
            <ion-icon name="medkit-outline"></ion-icon><br>
            <ion-label>Disability Resources</ion-label>
          </div>
        </ion-button>
      </ion-col>

      <!-- Button 6: Report Concerning Behavior -->
      <ion-col size="6" style="padding: 10px;">
        <ion-button expand="full" height=100px color="light">
          <div id="resource-button">
            <ion-icon name="stop-circle-outline"></ion-icon><br>
            <ion-label>Report Concerning<br> Behavior</ion-label>
          </div>
        </ion-button>
      </ion-col>


    </ion-row>
  </ion-grid>






</ion-content>

<!-- FOOTER -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home" tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/resources" tab="journal">
      <ion-icon name="journal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/groups" tab="people">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/chats" tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <!-- <ion-icon name="menu-outline"></ion-icon> -->
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>