#page-title {
    color: white;
    background-color: #011a42;
    font-family: Arial, sans-serif;
    font-size: 50pt;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

#resource-button {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


#resource-button ion-icon {
    font-size: 50px;
}

#resource-button ion-label {
    font-size: 10px;
    padding: 5px;
}

ion-fab {
    margin-top: var(--ion-safe-area-top, 20);
  }