#trial2 {
    color: white;
    background-color: #003057;
    font-family: Arial, sans-serif;
    font-size: 50pt;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}
#searchContainer {
    padding-top: 15px;
    padding-bottom: 10px;
    // display: inline-block;
    // float: left;
}
#suggestedContainer {
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 5px;
}

ion-button {
    // margin: auto;
    flex-basis: 50px;
    --background: #f2f2f0;
    --color: #003057;
}

ion-toolbar { 
    --background: white;
    padding-right: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30pt;
    padding-bottom: 30pt;
}

#grid {
    display: none;
}




